#main h1,
#main p.center {
    text-align: center;
}

#main h1 + p.center {
    margin-top: -24px;
}

#main {
}

#main .row {
    background: #ddd;
    margin: 20px 0;
    border-radius: 5px;
}

#main .row .column b {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #444;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px 1px black;
    border-radius: 5px;
    margin-top: 10px;
}

.oldie #main .row .column b,
#main .row .column:first-child b {
    margin-top: 0;
}

@media screen and (min-width:768px) {
    #main .row .column b {
        margin-top: 0;
    }
}