body {
    background-color: transparent;
}

.show-grid .container {
    background: url('../images/grid-horizontal-12.png') repeat-y 50% 0;
}

@media (min-width:768px) and (max-width:959px) {
    .show-grid .container {
        background-image: url('../images/grid-horizontal-12@768.png');
    }
}

@media (min-width:1200px) {
    .show-grid .container.large {
        background-image: url('../images/grid-horizontal-12@1200.png');
    }
}

@media (min-width:1920px) {
    .show-grid .container.hd {
        background-image: url('../images/grid-horizontal-12@1920.png');
    }
}

    a {
        color: #c00;
        text-decoration: none;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }

    a:hover {
        color: #f00;
    }

    code {
        background-color: transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }

    .amp {
        font-size: 110%;
        font-style: italic;
        font-weight: normal;
        font-family:"Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif;
    }

    .caps {
        font-size: 0.92em;
    }

    #hd {
        padding: 20px 0;
        border-top: 10px solid #035E89;
        border-bottom: 1px solid #e5eff3;
    }

        #hd .container {
            position: relative;
        }

        #hd h1,
        #hd p {
            margin: 0;
        }

        #hd h1 {
            font-size: 40px;
            line-height: 44px;
        }

        #hd h1 a {
            color: inherit;
            font-weight: 500;
        }

        #hd .tagline {
            font-weight: 500;
            color: #666;
        }

        #hd nav {
            margin: 20px 0 0;
        }

            #hd nav ul {
                zoom: 1;
            }

                #hd nav ul li {
                    margin: 20px 10px 0 0;
                    display: inline;
                }

                    #hd nav ul li a {
                        margin: 0;
                    }

                        #hd nav ul li a b {
                            display: none;
                        }

@media screen and (min-width:480px) {
                        #hd nav ul li a b {
                            display: inline;
                        }
}

@media screen and (min-width:768px) {
        #hd nav {
            position: absolute;
            bottom: -2px;
            right: 0;
            margin: 0;
        }

        #hd nav ul li.follow {
            margin-right: 0;
        }
}

        #main h2:first-child {
            margin-top: -12px;
        }

    #content {
        padding-top: 20px;
        padding-bottom: 20px;
    }


        #main footer {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid #eee;
        }
        #main footer,
        #main footer p {
            font-size: 13px;
        }

            #main footer p,
            #main footer ol {
                margin-top: 0;
                margin-bottom: 0;
            }

        #main table {
            margin: 20px 0;
            font-size: 14px;
        }

            #main table th {
                text-align: left;
            }

            #main table td.num {
                text-align: right;
            }

            #main table td.icon {
                text-align: center;
            }

            #main table tbody tr:nth-child(1n) th,
            #main table tbody tr:nth-child(1n) td {
                border-color: #ccc;
                border-left: none;
                border-right: none;
                text-shadow: 0 -1px 1px white;
                background: #fafafa;
            }

            #main table tbody tr:nth-child(odd) th,
            #main table tbody tr:nth-child(odd) td {
                background: #fdfdfd;
            }

            #main table thead th,
            #main table thead td {
                background: #444;
                color: #fff;
                border: none;
                text-shadow: 0 -1px 1px black;
            }

@media screen and (max-width:479px) {
            #main table td.icon,
            #main table thead th:nth-child(3),
            #main table tbody td:nth-child(3) {
                display: none;
            }
}

    #sb {
        margin-bottom: 20px;
    }

    #sb,
    #sb a {
        color: #aaa;
    }

        #sb a:hover {
            color: #f00;
        }

        #sb ul {
        }

            #sb ul li {
                margin: 0 0 10px;
            }

            #sb ul ul {
                margin-left: 2em;
                margin-top: 10px;
            }

                #sb ul ul li {
                    list-style: disc;
                }

    #ft {
        padding: 40px 0 20px;
        clear: both;
        font-size: 13px;
        color: #999;
        overflow: hidden;
    }

        #ft a {
            color: #999;
        }

        #ft p {
            font-size: 13px;
        }

        #ft ul {
        }

            #ft ul li {
                list-style: none;
                display: inline;
                margin: 0 10px 0 0;
            }

@media screen and (min-width:768px) {
        #ft .one-fourth {
            text-align: right;
        }
}