@import "smart-grid-variables";
@import "smart-grid-containers";
@import "smart-grid-columns";

.container {
    @include container;
}

.container,
.row {
    @include clearfix;
}

@if $flexbox_support == true {
	.row {
		@include flexbox_row;
	}
}

@media (min-width:$columnsBreakPoint) {
    @include column-set;
}

// uncomment this section for IE support
// html.oldie,
// html.lt-ie9,
// html.no-mq {
//     @include column-set;
// }
