$gutter:    percentage(20px/940px); // 20px at 960px wide container, accounting for a 1/2 gutter width padding on the left and right of the container
$onecol:                6.3829787%; // 60px at 960px wide container
$columnsBreakPoint:          481px; // set this to the minimum width you want the columns to take effect at
$containerMaxWidth:          940px; // set this to the maximum width you want .container to have
$flexbox_support: 			  true !default; // set this to true to include support for CSS Flexbox (modern syntax).
