<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}CSS Smart Grid &mdash; A Lightweight, Responsive, Mobile First CSS Grid</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="/humans.txt">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="//cloud.typography.com/7855472/767342/css/fonts.css">
        <link rel="stylesheet" href="/css/docs.css">

        <script src="/js/modernizr.js"></script>
        <script>
            var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-3625251-12"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
            var _gauges=_gauges||[];(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.id="gauges-tracker";a.setAttribute("data-site-id","4faf1bdff5a1f501f8000047");a.src="//secure.gaug.es/track.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
        </script>
    </head>

    <body class="{{ page.page_class }}">
        <header id="hd" role="banner">
            <div class="container">
                <h1><a href="/" title="Homepage" id="brand"><span class="caps">CSS</span> Smart Grid</a></h1>
                <p class="tagline">Lightweight, Responsive <span class="amp">&amp;</span> Mobile First</p>
                <a href="https://github.com/dryan/css-smart-grid/" title="Get it on Github" class="button" id="fork-it">Get it on Github</a>
            </div><!-- end .container -->
        </header><!-- end #hd -->

        <div class="container row" id="content">

            {{ content }}

        </div><!-- end #content -->

        <footer id="ft" role="contentinfo">
            <div class="container">
                <p class="row">
                    <strong class="columns one-fourth">Acknowledgments</strong>
                    <span class="columns three-fourths">
                        <a href="http://960.gs/" title="960 Grid System">960 Grid System</a>
                        <a hef="http://unstoppablerobotninja.com/" title="Ethan Marcotte">Ethan Marcotte</a>
                        <a href="http://html5boilerplate.com/" title="HTML5 Boilerplate">HTML5 Boilerplate</a>
                        <a href="http://getskeleton.com/" title="Skeleton CSS">Skeleton</a>
                        <a href="http://twitter.github.com/" title="Twitter Bootstrap">Twitter Bootstrap</a>
                    </span>
                </p>
                <p class="license row">
                    <strong class="columns one-fourth">License</strong>
                    <span class="columns three-fourths">
                        <a rel="license" href="https://raw.github.com/dryan/css-smart-grid/master/LICENSE.txt" title="View the license">MIT License</a>
                    </span>
                </p>
            </div><!-- end .container -->
        </footer><!-- end #ft -->
    </body>
</html>